
 

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
 
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav navbar-fixed-top">
      <a class="nav-item nav-link active" [routerLink]="['']">Home</a>
      <a class="nav-item nav-link" href="adminlogin.html">Admin</a>
      <a class="nav-item nav-link" href="userlogin.html">User</a>
      <a class="nav-item nav-link" href="#">About Us</a>
      <a class="nav-item nav-link" href="#">Contact Us</a>
     
    </div>
  </div>
</nav>



