<app-cancel-mainpage></app-cancel-mainpage>

<div id="block" class="container mt-5">



  <form>
        <div class="container1">

            <form>
                <div class="">
                    <div class="row justify-content-center">
                  
                      <div class="col-md-2 mt-4"><label style="color: white" ><h5>Policy Id:</h5></label> </div>
                    <div class="mt-4">
                        <input type="text" name="policy_id" [(ngModel)]="cancel.policy_id" placeholder="Enter your Policy Id" class="form-control " required>
                    </div>
                 </div>
            </div>            
            
           
              <div class="btn-group mt-3">
                <button type="submit" (click)="cancelcheck()" class="btn btn-success">Submit</button>
              </div>
            </form>


          <!---heading-->
              <header class="heading">Cancel Policy</header><hr>
           <!---Form starting--> 
           <div class="row">

            



            <!--- For Policy Id-->
               <div class="col-sm-12 mt-3">
                      <div class="row justify-content-center">
                    
                        <div class="col-md-4"><label style="color: white" ><h5>Policy Id :</h5></label> </div>
                      <div class="col-md-4">
                          <input type="text" [(ngModel)]="cancel.policy_id" name="policy_id"  placeholder="Policy Id" class="form-control " required>
                      </div>
                   </div>
              </div>  
              
           
            <!--- For Date of theft-->
            <div class="col-sm-12 mt-3">
                <div class="row justify-content-center">
              
                  <div class="col-md-4"><label style="color: white" ><h5>Cancellation Date :</h5></label> </div>
                <div class="col-md-4">
                    <input type="date" [(ngModel)]="cancel.cancel_date" name="cancel_date"   class="form-control " required>
                </div>
             </div>
        </div>    
        

         
       
  
         


<div class="container mt-3 mb-3">
  <button type="submit" (click)="savecancel()" class=" btn btn-success btn-block">Cancel</button>
  <button type="reset" class="btn btn-danger btn-block">Reset</button>

</div>






</div>	 

</div>
</form>  
</div>     