
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-fixed-top">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
   
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
      <div class="navbar-nav navbar-fixed-top">
        <a class="nav-item nav-link" [routerLink]="['']">Home</a>
        <a class="nav-item nav-link" [routerLink]="['admin']">Admin</a>
        <a class="nav-item nav-link" [routerLink]="['user']">User</a>
        <a class="nav-item nav-link" href="#">About Us</a>
        <a class="nav-item nav-link" href="#">Contact Us</a>
   
       
      </div>
    </div>
  </nav>

<div class ="container mt-5">
  <div class="d-flex justify-content-left">
    <div class="card col-md-4">
        <div class="card-header">
            <h2 style="text-align:center;color:antiquewhite">Vehicle Insurance System</h2>
        </div>
        
        <div class="card-body">
            <h4 style="color:rgb(255, 249, 249);text-align: center;font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif">Vehicle Insurance System (VIS) is basically a system that helps the members to do vehicle insurance online, by registering the vehicle, pay premium, and renew policy and cancelling policy.  The following are the modules in this proposed system</h4>

        </div>


    </div>
  </div>

</div>





